@font-face {
    font-family: lgc;
    /* src:url(./fonts/Louis\ George\ Cafe.ttf); */
    src: url(/lgc);
}

@font-face {
    font-family: lgcLight;
    /* src:url(./fonts//Louis\ George\ Cafe\ Light\ Italic.ttf); */
    src: url(/lgclight);
}

* {
    box-sizing: border-box;
}


body {
    background-color: #faf9f9;
    font-family: lgc;
    position: relative;
}
/* .landing {
    content:"";
    background-image: url('/background');
    position: absolute; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
} */
/* header styles */
header {
    background-color: #89b0ae;
    position:sticky;
    top: 0;
    z-index: 100;
    /* height:10vh; */
    /* margin-bottom: 10px; */
}

header * {
    display:inline;
    padding: 5px;
    vertical-align: middle;
    max-height:fit-content;
    width:auto;
    border-radius: 50%;
}



.moused {
    color:#faf9f9;
}

li a {
    font-family: lgc;
    color: #555b6e;
    font-size: 15pt;
    text-decoration: none;
}

a {
    font-family: lgc;
    color:black;
}

form {
    margin-left:20px;
}

.formlabel {
    font-size: 15pt;
}

.centersection {
    margin: 20px;
    position:flexbox;
    justify-content: center;
    text-align: center;
}

div > img {
    height: 100px;
}

.nameFav {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left:15%;
    padding-right:15%;
}

.poseContent {
    background-color: #bee3db;
    border: 1px silver solid;
    border-radius: 50px;
    margin:20px;
    box-shadow: 2px 2px 2px 2px #555b6e;
    /* width:35%; */
    display:inline-block;
    position:relative;
}

@media screen and (min-width: 600px) {
    .poseContent {
        width:40%;
    }
  }

.catContent {
    background-color:#bee3db;
    border: 1px silver solid;
    border-radius: 50px;
    margin:50px;
    box-shadow: 2px 2px #555b6e;
    padding:10px;
}

.routineContent {
    background-color:#bee3db;
    border: 1px silver solid;
    border-radius: 50px;
    width:80%;
    box-shadow: 2px 2px #555b6e;
    display:inline-block;
    vertical-align: top;
    margin:20px;
    padding-left: 20px;
    position: relative;
}

@media screen and (min-width: 600px) {
    .routineContent {
        width:25%;

    }
  }

  .archive {
    font-family: lgc;
    position:absolute;
    top:20px;
    right:20px;
    background-color: plum;
    color:black;
  }

  .viewArchive {
    padding:10px;
    position:absolute;
    text-align: right;
}

.arcbtn {

}

.favBtn {
    background-image: url(/heart);
    background-size: cover;
    /* background-size:20px; */
    width:20px;
    height:20px;
    border-radius: 35%;
    background-color: #faf9f9;
    margin:2px;
    position:absolute;
    top:8%;
    right:8%;
}

.favorited {
    background-image: url(/love);
    background-size: cover;
    /* background-size:80%; */
    width:20px;
    height:20px;
    border-radius: 35%;
    background-color: #faf9f9;
    /* margin:2px; */
    position:absolute;
    top:8%;
    right:8%;
}

.main {
    /* margin-top: 10px; */
    background-color: #bee3db;
    border-radius: 20px;
    width:80%;
    padding:10px;
    margin:10%;
}

@media screen and (min-width: 600px) {
    .main {
        margin:10px;
        width:100%;
    }
  }

.hide {
    display: none;
}

.favContent {
    background-color: #bee3db;
    border: 1px silver solid;
    border-radius: 50px;
    margin:20px;
    box-shadow: 2px 2px 2px 2px #555b6e;
    display:inline-block;
    /* width:25%;
    height:25%; */
    position: relative;
}

@media screen and (min-width: 600px) {
    .favContent {
        width:25%;
        height:25%;
    }
  }

.small {
    font-style:italic;
    font-size: 10pt;
}

ul.allthecheckboxes label { 
    border: 1px transparent solid; 
    display:inline-block;
    width:40%;
    list-style-type: none;
  }

/* The container */
.container {
    display: flex;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #555b6e;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: plum;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: blueviolet;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


.routineSubmit {
 font-family: lgc;
 font-size: 20pt;
 background-color: plum;
 border-radius: 5px;
 text-align: center;
 margin-left: 30px;
 color:black;
}

.formheading {
    padding-left:20px;
}

.poselist {
    padding-left: 50px;
}

.sort {
    display:flexbox;
    flex-direction: row;
    justify-content: flex-start;
    margin:20px;
}

.padded {
    padding-left: 5%;
    padding-right: 5%;
}

/* (A) LIST STYLES */
.slist {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .slist li {
    margin: 10px;
    padding: 5px;
    width:50%;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    background: #f5f5f5;
  }
  
  /* (B) DRAG-AND-DROP HINT */
  .slist li.hint {
    border: 1px solid #ffc49a;
    background: #feffb4;
  }
  .slist li.active {
    border: 1px solid #ffa5a5;
    background: #ffe7e7;
  }

  /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.row-1 {height:8.33%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

/* @media only screen and (max-width: 768px) {
  /* For mobile phones: */
/*  header {
    height: 10vh;
  }
} */


/* rwd nav bar */
body {
  margin: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.topnav {
  overflow: hidden;
  background-color: #89b0ae;
}

.topnav a {
  display: inline-flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  align-items:center;
  justify-content:center;
}

a img {
    height:40px;
    width:auto;
    border-radius: 50%;
}

.nopad {
    padding: 0px;
}

.topnav a:hover {
  color: white;
}

.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 10;
    top: 10;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
