@font-face {
    font-family: lgc;
    src: url(/lgc);
}

@font-face {
    font-family: lgcLight;
    src: url(/lgclight);
}

body {
    background-color: #faf9f9;
    margin-top:70px;
    padding: 50px;
    font-family: lgc;
}


/* header styles */
header {
    background-color: #89b0ae;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display:flex;
    padding:10px;
    align-items: center;
}

header * {
    display:inline;
    padding: 5px;
}

header img {
    height:80px;
    border-radius: 50%;
}

.moused {
    color:#faf9f9;
}

li a {
    font-family: lgc;
    color: #555b6e;
    font-size: 15pt;
    text-decoration: none;
}

section {
    position:flexbox;
    justify-content: center;
    text-align: center;
}

div > img {
    height: 100px;
}

.nameFav {
    display:flex;
    align-items: center;
    justify-content: center;
}

.poseContent {
    background-color: #bee3db;
    border: 1px silver solid;
    border-radius: 50px;
    margin:50px;
    box-shadow: 2px 2px 2px 2px #555b6e;
    width:33%;
    display:inline-block;
}

.catContent {
    background-color:#bee3db;
    border: 1px silver solid;
    border-radius: 50px;
    margin:50px;
    box-shadow: 2px 2px #555b6e;
    padding:10px;
}

.favBtn {
    background-image: url(/heart);
    background-size: cover;
    /* background-size:20px; */
    width:35px;
    height:35px;
    border-radius: 48%;
    background-color: #faf9f9;
    margin:2px;
}

.favorited {
    background-image: url(/love);
    background-size: cover;
    /* background-size:80%; */
    width:35px;
    height:35px;
    border-radius: 48%;
    background-color: #faf9f9;
    /* margin:2px; */
}

/* button > img {
    width:10px;
    height:10px;
    /* margin:auto; */
/* } */ 

.main {
    background-color: #bee3db;
    border-radius: 20px;
    padding:10px;
    justify-content:left;
}

.hide {
    display: none;
}

.favContent {
    background-color: #bee3db;
    border: 1px silver solid;
    border-radius: 50px;
    margin:50px;
    box-shadow: 2px 2px 2px 2px #555b6e;
    display:inline-block;
    width:25%;
    height:25%;
}