@font-face {
    font-family: lgc;
    /* src:url(./fonts/Louis\ George\ Cafe.ttf); */
    src: url(/lgc);
}

@font-face {
    font-family: lgcLight;
    /* src:url(./fonts//Louis\ George\ Cafe\ Light\ Italic.ttf); */
    src: url(/lgclight);
}

body {
    background-color: #faf9f9;
    font-family: lgc;
}
/* header styles */
header {
    background-color: #89b0ae;
    position:sticky;
    top: 0;
    margin-bottom: 10px;
}

header * {
    display:inline;
    padding: 5px;
    vertical-align: middle;
}

header img {
    height:80px;
    border-radius: 50%;
}

.moused {
    color:#faf9f9;
}

li a {
    font-family: lgc;
    color: #555b6e;
    font-size: 15pt;
    text-decoration: none;
}

form {
    margin-left:20px;
}

.formlabel {
    font-size: 15pt;
}

.centersection {
    margin: 20px;
    position:flexbox;
    justify-content: center;
    text-align: center;
}

div > img {
    height: 100px;
}

.nameFav {
    display:flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}

.poseContent {
    background-color: #bee3db;
    border: 1px silver solid;
    border-radius: 50px;
    margin:50px;
    box-shadow: 2px 2px 2px 2px #555b6e;
    width:33%;
    display:inline-block;
}

.catContent {
    background-color:#bee3db;
    border: 1px silver solid;
    border-radius: 50px;
    margin:50px;
    box-shadow: 2px 2px #555b6e;
    padding:10px;
}

.routineContent {
    background-color:#bee3db;
    border: 1px silver solid;
    border-radius: 50px;
    width:50%;
    box-shadow: 2px 2px #555b6e;
    padding:10px;
    display:flexbox;
    justify-content: left;
    margin:20px;
    padding-left: 20px;
}

.favBtn {
    background-image: url(/heart);
    background-size: cover;
    /* background-size:20px; */
    width:35px;
    height:35px;
    border-radius: 48%;
    background-color: #faf9f9;
    margin:2px;
}

.favorited {
    background-image: url(/love);
    background-size: cover;
    /* background-size:80%; */
    width:35px;
    height:35px;
    border-radius: 48%;
    background-color: #faf9f9;
    /* margin:2px; */
}

.main {
    background-color: #bee3db;
    border-radius: 20px;
    padding:10px;
}

.hide {
    display: none;
}

.favContent {
    background-color: #bee3db;
    border: 1px silver solid;
    border-radius: 50px;
    margin:50px;
    box-shadow: 2px 2px 2px 2px #555b6e;
    display:inline-block;
    width:25%;
    height:25%;
}

.small {
    font-style:italic;
    font-size: 10pt;
}

ul.allthecheckboxes label { 
    border: 1px transparent solid; 
    display:inline-block;
    width:40%;
    list-style-type: none;
  }

/* The container */
.container {
    display: flex;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #555b6e;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #bee3db;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #99582A;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


.routineSubmit {
 font-family: lgc;
 font-size: 20pt;
 background-color: #bee3db;
 border-radius: 5px;
 text-align: center;
 padding-left: 10px;
}

.formheading {
    padding-left:20px;
}

.poselist {
    padding-left: 50px;
}